@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
footer {
  padding: 20px 5% 20px 5%;
  background-color: #333333;
  color: white;
}
footer a {
  color: white;
  width: 100%;
}
footer ul {
  width: 100%;
  margin-block-start: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  padding-inline-start: unset;
  font-size: 0.9em;
}
footer ul li {
  list-style: none;
  width: 100%;
  margin-top: 1%;
}
footer ul li i {
  margin-right: 1%;
  height: 20px;
  width: 20px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.header__titre {
  font-family: "Shrikhand", cursive;
  margin-bottom: 10px;
}
.header a {
  width: unset;
  position: absolute;
  left: 4%;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
body html,
body body,
body p,
body ol,
body ul,
body li,
body dl,
body dt,
body dd,
body blockquote,
body figure,
body fieldset,
body legend,
body textarea,
body pre,
body iframe,
body hr,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0;
  padding: 0;
}

@media (min-width: 799px) {
  main {
    background-color: #f0f0f0;
  }
}

.dimension {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
  justify-content: space-around;
}
section h2 {
  margin-left: 5%;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.7em;
  font-weight: 800;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  width: 100%;
  color: black;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
}

@keyframes carte-anim {
  0% {
    opacity: 0;
    margin-top: 2%;
  }
  17% {
    opacity: 0.2;
  }
  24% {
    opacity: 0.4;
  }
  46% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    margin-top: 0%;
  }
}
@keyframes lettres {
  0% {
    font-size: 0em;
  }
  100% {
    font-size: 3em;
  }
}
@keyframes lettrespc {
  0% {
    font-size: 0em;
  }
  100% {
    font-size: 5em;
  }
}
@keyframes invisible {
  0% {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    visibility: visible;
    display: contents;
    opacity: 0;
  }
  100% {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    visibility: hidden;
    display: none;
    opacity: 1;
  }
}
@keyframes degrade {
  0% {
    background: linear-gradient(1deg, #99E2D0, #FF79DA, #9356DC);
  }
  25% {
    background: linear-gradient(360deg, #99E2D0, #FF79DA, #9356DC);
  }
  50% {
    background: linear-gradient(1deg, #FF79DA, #9356DC, #99E2D0);
  }
  75% {
    background: linear-gradient(360deg, #9356DC, #99E2D0, #FF79DA);
  }
  100% {
    background: linear-gradient(1deg, #FF79DA, #99E2D0, #9356DC);
  }
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(2);
  }
}
@keyframes loading-movement {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(50%, 50%);
  }
}
@keyframes fonction-anim {
  0% {
    background-color: #f2f2f2;
    transform: scale(1);
    opacity: 1;
  }
  100% {
    background-color: #e4d5f6;
    transform: scale(1.05);
    opacity: 0.8;
  }
}
@keyframes fonction-i {
  0% {
    color: #666666;
  }
  100% {
    color: #9356DC;
  }
}
.commander, .titre, .entete img, .entete, .fonctionnement ol p, .fonctionnement ol, .restaurant__img img, .restaurant__img, .restaurant__nav, .localisation, .gridpage, .load, .container {
  width: 100%;
}

.container {
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 2;
  background: #e8f9f5;
  animation: invisible 0s 3000ms forwards;
}

.load {
  height: 30%;
  position: absolute;
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  animation: loading-spinner 1500ms linear;
}
.load__lettre {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  animation: lettres 1000ms ease-in-out forwards, degrade 1500ms ease-in-out forwards infinite alternate, invisible 1500ms both, loading-movement 1000ms ease-in-out forwards infinite alternate;
  opacity: 0;
}
.load__lettre--1 {
  animation-delay: 187.5ms;
}
.load__lettre--2 {
  animation-delay: 375ms;
}
.load__lettre--3 {
  animation-delay: 562.5ms;
}
.load__lettre--4 {
  animation-delay: 750ms;
}
.load__lettre--5 {
  animation-delay: 937.5ms;
}
.load__lettre--6 {
  animation-delay: 1125ms;
}
.load__lettre--7 {
  animation-delay: 1312.5ms;
}
.load__lettre--8 {
  animation-delay: 1500ms;
}
@media (min-width: 799px) {
  .load__lettre {
    animation: lettrespc 1000ms ease-in-out forwards, degrade 1500ms ease-in-out forwards infinite alternate, invisible 1500ms both, loading-movement 1000ms ease-in-out forwards infinite alternate;
  }
  .load__lettre--1 {
    animation-delay: 187.5ms;
  }
  .load__lettre--2 {
    animation-delay: 375ms;
  }
  .load__lettre--3 {
    animation-delay: 562.5ms;
  }
  .load__lettre--4 {
    animation-delay: 750ms;
  }
  .load__lettre--5 {
    animation-delay: 937.5ms;
  }
  .load__lettre--6 {
    animation-delay: 1125ms;
  }
  .load__lettre--7 {
    animation-delay: 1312.5ms;
  }
  .load__lettre--8 {
    animation-delay: 1500ms;
  }
}

.grid {
  grid-template-columns: 1fr;
  display: grid;
}
@media (min-width: 799px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.gridpage {
  grid-template-columns: 1fr;
  display: grid;
}
@media (min-width: 1024px) {
  .gridpage {
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f0f0f0;
  }
}
@media (min-width: 799px) and (max-width: 1024px) {
  .gridpage {
    background-color: #f0f0f0;
    width: 70%;
  }
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1.2em;
  color: #404040;
  background-color: #e6e6e6;
  box-shadow: inset 0px 4px 5px -4px #404040;
  padding: 20px 0 20px 0;
}
.localisation p {
  padding: 0 0 0 15px;
  font-weight: 500;
}

.restaurant {
  background-color: #f0f0f0;
  padding: 5% 0 5% 0;
}
.restaurant__nav {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 799px) {
  .restaurant__nav {
    grid-template-columns: 1fr 1fr;
  }
}
.restaurant__article {
  display: flex;
  width: 90%;
  position: relative;
  margin: 5%;
  box-shadow: 5px 5px 10px #cccccc;
  border-radius: 20px;
  height: 250px;
  transform: scale(1);
  transition: all 300ms ease-in-out;
}
.restaurant__article:hover {
  transform: scale(1.05);
}
.restaurant__article--new {
  position: absolute;
  top: 7%;
  right: 2%;
  color: #32b091;
  background-color: #ade8d9;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1em;
}
.restaurant__img {
  height: 65%;
}
.restaurant__img img {
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurant__texte {
  height: 35%;
  color: black;
  position: relative;
  background-color: white;
  border-radius: 0 0 23px 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 0 0 20px;
}
.restaurant__texte p {
  font-size: 1em;
}
.restaurant__texte div {
  position: absolute;
  right: 6%;
  top: 30%;
}
.restaurant__texte div i {
  font-size: 31px;
  color: white;
  position: relative;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  z-index: 0;
  transition: text-shadow 400ms ease-in-out;
}
.restaurant__texte div i:hover {
  cursor: pointer;
}
.restaurant__texte div i:hover::after {
  transform: scale(1.01);
  opacity: 1;
}
.restaurant__texte div i::after {
  background: linear-gradient(265deg, #99E2D0, #FF79DA, #9356DC);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform-origin: bottom;
  transform: scale(0);
  transition: all 400ms ease-in-out;
  text-shadow: none;
  z-index: 1;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome h2 {
  font-size: 1.7em;
  width: 60%;
  text-align: center;
  margin: 40px 0 20px 0;
}
.welcome P {
  width: 70%;
  text-align: center;
  font-size: 1.3em;
  color: #333333;
  margin: 0 0 40px 0;
  font-weight: 300;
}
.welcome__button {
  border-radius: 30px;
  width: 50%;
  padding: 17px;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 20px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: unset;
  box-shadow: 10px 5px 5px #e6e6e6;
  position: relative;
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  cursor: pointer;
  box-shadow: 5px 5px 10px #cccccc;
  opacity: 1;
  width: unset;
  margin: 0 0 6rem 0;
}
.welcome__button:hover {
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  box-shadow: 2px 2px 2px #b3b3b3, -2px -2px 2px #b3b3b3;
  opacity: 0.8;
}

.fonctionnement {
  margin: 50px 0 80px 0;
}
.fonctionnement ol {
  list-style: none;
  margin-block-start: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  padding-inline-start: unset;
}
.fonctionnement ol:hover .ordre {
  cursor: pointer;
  animation: fonction-anim 1000ms linear backwards;
}
.fonctionnement ol:hover .ordre--1 {
  animation-delay: 333.3333333333ms;
}
.fonctionnement ol:hover .ordre--2 {
  animation-delay: 666.6666666667ms;
}
.fonctionnement ol:hover .ordre--3 {
  animation-delay: 1000ms;
}
.fonctionnement ol:hover .ordre i {
  animation: fonction-i 1000ms linear backwards;
}
.fonctionnement ol:hover .ordre i--1 {
  animation-delay: 333.3333333333ms;
}
.fonctionnement ol:hover .ordre i--2 {
  animation-delay: 666.6666666667ms;
}
.fonctionnement ol:hover .ordre i--3 {
  animation-delay: 1000ms;
}
.fonctionnement ol .ordre {
  width: 82%;
  margin: 30px 5% 30px 5%;
  padding: 20px 4% 20px 4%;
  box-shadow: 5px 5px 10px #cccccc;
  border-radius: 30px;
  font-size: 1.2em;
  background-color: #f2f2f2;
}
.fonctionnement ol i {
  font-size: 1.3em;
  color: #666666;
}
.fonctionnement ol p {
  display: inline;
  margin: 0 0 0 7%;
  font-weight: 500;
}
.fonctionnement ol .liste {
  background-color: #9356DC;
  color: white;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  border-radius: 100%;
  position: relative;
  left: -6%;
  margin-left: unset;
}

.entete {
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 -5rem 0;
}
.entete img {
  object-fit: cover;
  z-index: 1;
  height: 100%;
}

.titre {
  font-family: "Shrikhand", cursive;
  z-index: 1;
  height: 100%;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0 0 0;
  background-color: #f0f0f0;
}
@media (min-width: 799px) and (max-width: 1024px) {
  .titre {
    width: 70%;
  }
}
.titre .coeur {
  width: 35px;
  height: 35px;
  padding: 20px;
  z-index: 1;
}
.titre i {
  font-size: 31px;
  color: white;
  position: relative;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  z-index: 0;
  transition: text-shadow 400ms ease-in-out;
}
.titre i:hover {
  cursor: pointer;
}
.titre i:hover::after {
  transform: scale(1.01);
  opacity: 1;
}
.titre i::after {
  background: linear-gradient(265deg, #99E2D0, #FF79DA, #9356DC);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform-origin: bottom;
  transform: scale(0);
  transition: all 400ms ease-in-out;
  text-shadow: none;
  z-index: 1;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titre h2 {
  margin: 0 0 0 2%;
  width: 87%;
}

#menugrand {
  height: 375px;
}

.menu {
  background-color: #f0f0f0;
  padding: 2%;
  width: 96%;
  height: 300px;
}
.menu h5 {
  font-size: 1.1em;
  margin: 0 0 1% 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu h4 {
  color: #262626;
  font-weight: 400;
  border-bottom: 3px solid #99E2D0;
  width: 35px;
  font-size: 1.2em;
}
.menu__carte {
  display: flex;
  width: 98%;
  height: 75px;
  box-shadow: 5px 5px 10px #cccccc;
  border-radius: 23px;
  background-color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  white-space: nowrap;
  opacity: 1;
  transform-origin: bottom;
}
.menu__carte--1 {
  animation: carte-anim 600ms 3200ms ease-out both;
}
.menu__carte--2 {
  animation: carte-anim 600ms 3400ms ease-in-out both;
}
.menu__carte--3 {
  animation: carte-anim 600ms 3600ms ease-in-out both;
}
.menu__carte--4 {
  animation: carte-anim 600ms 3800ms ease-in-out both;
}
.menu__carte:hover {
  cursor: pointer;
}
.menu__carte:hover .menu__anim {
  margin: 0;
}
.menu__carte:hover .menu__anim i {
  transform: rotate(1turn);
}
.menu__anim {
  margin: 0 -70px 0 0;
  width: 65px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 0 21px 21px 0;
  transition: all 500ms ease-in-out;
}
.menu__anim i {
  font-size: 1.5em;
  color: white;
  transform: rotate(180deg);
  transition: all 300ms 200ms ease-in-out;
}
.menu__texte {
  flex: 1;
  margin: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 500ms ease-in-out;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__texte p {
  font-size: 0.9em;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  white-space: nowrap;
}
.menu__prix {
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: 600;
  transition: all 1000ms;
  transition-timing-function: ease-in-out;
}
.menu__prix p {
  margin: 0 10px 0 0;
}

.commander {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 75px;
  padding: 50px 0 0 0;
  background-color: #f0f0f0;
}
.commander .button {
  border-radius: 30px;
  width: 50%;
  padding: 17px;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 20px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: unset;
  box-shadow: 10px 5px 5px #e6e6e6;
  position: relative;
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  cursor: pointer;
  box-shadow: 5px 5px 10px #cccccc;
  opacity: 1;
}
.commander .button:hover {
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  box-shadow: 2px 2px 2px #b3b3b3, -2px -2px 2px #b3b3b3;
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
