@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
footer {
  padding: 20px 5% 20px 5%;
  background-color: #333333;
  color: white;
}
footer a {
  color: white;
  width: 100%;
}
footer ul {
  width: 100%;
  margin-block-start: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  padding-inline-start: unset;
  font-size: 0.9em;
}
footer ul li {
  list-style: none;
  width: 100%;
  margin-top: 1%;
}
footer ul li i {
  margin-right: 1%;
  height: 20px;
  width: 20px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.header__titre {
  font-family: "Shrikhand", cursive;
  margin-bottom: 10px;
}
.header a {
  width: unset;
  position: absolute;
  left: 4%;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.dimension {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
}
section h2 {
  margin-left: 5%;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.7em;
  font-weight: 800;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  width: 100%;
  color: black;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
}

@keyframes progress-heart {
  0% {
    transform: scaleY(0);
  }
  17% {
    transform: scaleY(0.18);
  }
  24% {
    transform: scaleY(0.4);
  }
  46% {
    transform: scaleY(0.81);
  }
  100% {
    transform: scaleY(1);
  }
}
.localisation {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: #404040;
  background-color: #e6e6e6;
  width: 100%;
  justify-content: center;
  box-shadow: inset 0px 4px 5px -4px #404040;
}
.localisation p {
  padding-left: 15px;
  font-weight: 500;
}

.restaurant {
  background-color: #f0f0f0;
  padding: 5% 0 5% 0;
}
.restaurant__nav {
  width: 100%;
}
.restaurant__article {
  display: flex;
  width: 90%;
  position: relative;
  margin: 5%;
  box-shadow: 5px 5px 10px #cccccc;
  border-radius: 20px;
  height: 250px;
}
.restaurant__article:hover {
  box-shadow: 5px 5px 15px #b3b3b3, -5px -5px 15px #b3b3b3;
  opacity: 0.8;
}
.restaurant__article--new {
  position: absolute;
  top: 7%;
  right: 2%;
  color: #32b091;
  background-color: #ade8d9;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1em;
}
.restaurant__img {
  width: 100%;
  height: 65%;
}
.restaurant__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurant__texte {
  color: black;
  position: relative;
  padding: 15px;
  background-color: white;
  border-radius: 0 0 23px 23px;
}
.restaurant__texte h3 {
  margin: 0px 0px 5px 0px;
}
.restaurant__texte p {
  margin: 10px 0 15px 0;
  font-size: 1em;
}
.restaurant__texte div {
  position: absolute;
  right: 6%;
  top: 25%;
}
.restaurant__texte div i {
  font-size: 40px;
  color: white;
  position: relative;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  z-index: 0;
  transition: text-shadow 500ms ease-in-out;
}
.restaurant__texte div i:hover {
  cursor: pointer;
}
.restaurant__texte div i:hover::after {
  transform: scale(1.01);
  opacity: 1;
}
.restaurant__texte div i::after {
  background: linear-gradient(265deg, #99E2D0, #FF79DA, #9356DC);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform-origin: bottom;
  transform: scale(0);
  transition: all 500ms ease-in-out;
  text-shadow: none;
  z-index: 1;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome h2 {
  font-size: 1.7em;
  width: 60%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
.welcome P {
  width: 70%;
  text-align: center;
  font-size: 1.3em;
  color: #333333;
  margin: 0px 0px 40px 0px;
  font-weight: 300;
}
.welcome__button {
  border-radius: 30px;
  padding: 17px;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 20px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: unset;
  box-shadow: 10px 5px 5px #e6e6e6;
  position: relative;
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  cursor: pointer;
  box-shadow: 5px 5px 10px #cccccc;
  opacity: 1;
  margin-bottom: 6rem;
}
.welcome__button:hover {
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  box-shadow: 5px 5px 15px #b3b3b3, -5px -5px 15px #b3b3b3;
  opacity: 0.8;
}

.fonctionnement {
  margin-top: 50px;
  margin-bottom: 80px;
}
.fonctionnement ol {
  list-style: none;
  margin-block-start: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  padding-inline-start: unset;
  width: 100%;
}
.fonctionnement ol li {
  width: 90%;
  margin: 2% 2% 5% 5%;
  padding: 30px 0% 30px 0%;
  box-shadow: 5px 5px 10px #cccccc;
  border-radius: 30px;
  font-size: 1.3em;
  background-color: #f2f2f2;
  transition: all 300ms ease-in;
}
.fonctionnement ol li:hover {
  background: #e4d5f6;
  opacity: 0.8;
}
.fonctionnement ol li:hover i {
  color: #9356DC;
}
.fonctionnement ol i {
  font-size: 1.3em;
  color: #666666;
}
.fonctionnement ol p {
  display: inline;
  margin-left: 7%;
  width: 100%;
  font-weight: 500;
}
.fonctionnement ol .liste {
  background-color: #9356DC;
  color: white;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  border-radius: 100%;
  margin-right: 2%;
  position: relative;
  left: -15px;
  margin-left: unset;
}

.entete {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  margin-bottom: -5rem;
}
.entete img {
  object-fit: cover;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.titre {
  font-family: "Shrikhand", cursive;
  z-index: 1;
  height: 100%;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  background-color: #f0f0f0;
  width: 100%;
}
.titre .coeur {
  width: 35px;
  height: 35px;
  padding: 20px;
  z-index: 1;
}
.titre i {
  font-size: 40px;
  color: white;
  position: relative;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  z-index: 0;
  transition: text-shadow 500ms ease-in-out;
}
.titre i:hover {
  cursor: pointer;
}
.titre i:hover::after {
  transform: scale(1.01);
  opacity: 1;
}
.titre i::after {
  background: linear-gradient(265deg, #99E2D0, #FF79DA, #9356DC);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform-origin: bottom;
  transform: scale(0);
  transition: all 500ms ease-in-out;
  text-shadow: none;
  z-index: 1;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titre h2 {
  margin-left: 2%;
  width: 87%;
}

.menu {
  background-color: #f0f0f0;
  padding: 2%;
  width: 96%;
}
.menu h5 {
  font-size: 1.1em;
  margin-bottom: 1%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu h4 {
  color: #262626;
  font-weight: 400;
  border-bottom: 3px solid #99E2D0;
  width: 35px;
  font-size: 1.2em;
}
.menu__carte {
  display: flex;
  width: 98%;
  position: relative;
  margin: 1%;
  box-shadow: 5px 5px 10px #cccccc;
  border-radius: 23px;
  background-color: white;
  overflow: hidden;
  white-space: nowrap;
}
.menu__carte:hover {
  cursor: pointer;
  box-shadow: 5px 5px 15px #b3b3b3, -5px -5px 15px #b3b3b3;
}
.menu__carte:hover .menu__anim {
  transform: translate(-100%);
}
.menu__carte:hover .menu__anim i {
  transform: rotate(1turn);
}
.menu__carte:hover .menu__prix {
  transform: translate(-50%);
}
.menu__anim {
  flex: 1;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 21px 21px 0;
  margin-right: -22%;
  transition: all 1000ms;
  transition-timing-function: ease-in-out;
}
.menu__anim i {
  font-size: 1.5em;
  color: white;
  transform: rotate(-180deg);
  transition: all 1000ms 100ms ease-in-out;
}
.menu__texte {
  width: 60%;
  margin-left: 2%;
}
.menu__texte p {
  font-size: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__prix {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: 600;
  transition: all 1000ms;
  transition-timing-function: ease-in-out;
}
.menu__prix p {
  margin-right: 10%;
}
.menu .commander {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.menu .commander .button {
  border-radius: 30px;
  padding: 17px;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 20px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: unset;
  box-shadow: 10px 5px 5px #e6e6e6;
  position: relative;
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  cursor: pointer;
  box-shadow: 5px 5px 10px #cccccc;
  opacity: 1;
  padding-left: 4%;
  padding-right: 4%;
}
.menu .commander .button:hover {
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  box-shadow: 5px 5px 15px #b3b3b3, -5px -5px 15px #b3b3b3;
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
