@import "./utils/variables";
@import "./base/polices";
@import "./layout/_footer";
@import "./layout/_header";
@import "./utils/mixins";
@import "./base/base";
@import "./utils/keyframes";
.container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	z-index: 5;
	background: lighten($color: $color-tertiary, $amount: 20%);
	animation: invisible 0s 3000ms forwards;
}

.load {
	width: 100%;
	height: 30%;
	position: absolute;
	font-family: $police-titre;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	animation: loading-spinner 1500ms linear;
	&__lettre {
		align-content: center;
		justify-content: center;
		align-items: center;
		display: flex;
		height: 100%;
		animation: lettres 1000ms ease-in-out forwards, degrade 1500ms ease-in-out forwards infinite alternate, invisible $anim-duration both, loading-movement 1000ms ease-in-out forwards infinite alternate;
		opacity: 0;
		@for $i from 1 through $nblettre {
			&--#{$i} {
				animation-delay: $anim-delay * $i;
			}
		}
		@media (min-width: 799px) {
			animation: lettrespc 1000ms ease-in-out forwards, degrade 1500ms ease-in-out forwards infinite alternate, invisible $anim-duration both, loading-movement 1000ms ease-in-out forwards infinite alternate;
			@for $i from 1 through $nblettre {
				&--#{$i} {
					animation-delay: $anim-delay * $i;
				}
			}
		}
	}
}

.grid {
	grid-template-columns: 1fr;
	display: grid;
	@media (min-width: 799px) {
		grid-template-columns: 1fr 1fr;
	}
}

.gridpage {
	grid-template-columns: 1fr;
	display: grid;
	width: 100%;
	@media (min-width: 1024px) {
		grid-template-columns: 1fr 1fr 1fr;
		background-color: $color-background;
	}
	@media (min-width:799px) and (max-width:1024px) {
		background-color: $color-background;
		width: 70%;
	}
}

.localisation {
	display: flex;
	align-items: center;
	font-size: 1.2em;
	color: lighten(black, 25%);
	background-color: lighten($color: black, $amount: 90%);
	width: 100%;
	justify-content: center;
	box-shadow: inset 0px 4px 5px -4px #404040;
	padding: 20px 0 20px 0;
	& p {
		padding-left: 15px;
		font-weight: 500;
	}
}

.restaurant {
	background-color: lighten($color: black, $amount: 94%);
	padding: 5% 0 5% 0;
	&__nav {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		width: 100%;
		@media (min-width: 799px) {
			grid-template-columns: 1fr 1fr;
		}
	}
	&__article {
		display: flex;
		width: 90%;
		position: relative;
		margin: 5%;
		box-shadow: 5px 5px 10px lighten($color: black, $amount: 80%);
		border-radius: 20px;
		height: 250px;
		transform: scale(1);
		transition: all 300ms ease-in-out;
		&:hover {
			box-shadow: 5px 5px 15px lighten($color: black, $amount: 70%), -5px -5px 15px lighten($color: black, $amount: 70%);
			transform: scale(1.05);
		}
		&--new {
			position: absolute;
			top: 7%;
			right: 2%;
			color: darken($color: $color-tertiary, $amount: 30%);
			background-color: lighten($color: $color-tertiary, $amount: 5%);
			padding: 10px 15px 10px 15px;
			border-radius: 5px;
			font-weight: 600;
			font-size: 1em;
		}
	}
	&__img {
		width: 100%;
		height: 65%;
		& img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			border-radius: 20px 20px 0px 0px;
		}
	}
	&__texte {
		height: 35%;
		color: black;
		position: relative;
		background-color: white;
		border-radius: 0 0 23px 23px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding-left: 20px;
		p {
			font-size: 1em;
		}
		div {
			position: absolute;
			right: 6%;
			top: 30%;
			i {
				@include coeur;
			}
		}
	}
}

.welcome {
	background-color: lighten($color: black, $amount: 94%);
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		font-size: 1.7em;
		width: 60%;
		text-align: center;
		margin-bottom: 20px;
		margin-top: 40px;
	}
	P {
		width: 70%;
		text-align: center;
		font-size: 1.3em;
		color: lighten($color: black, $amount: 20%);
		margin: 0px 0px 40px 0px;
		font-weight: 300;
	}
	&__button {
		@include button;
		width: unset;
		margin-bottom: 6rem;
	}
}

.fonctionnement {
	margin-top: 50px;
	margin-bottom: 80px;
	ol {
		list-style: none;
		margin-block-start: unset;
		margin-block-start: unset;
		margin-block-end: unset;
		margin-inline-start: unset;
		margin-inline-end: unset;
		padding-inline-start: unset;
		width: 100%;
		&:hover .ordre {
			animation: fonction-anim $anim-durationbis linear backwards;
			@for $i from 1 through $nbli {
				&--#{$i} {
					animation-delay: $anim-delaybis * $i;
				}
			}
			& i {
				animation: fonction-i $anim-durationbis linear backwards;
				@for $i from 1 through $nbli {
					&--#{$i} {
						animation-delay: $anim-delaybis * $i;
					}
				}
			}
		}
		& .ordre {
			width: 82%;
			margin: 30px 5% 30px 5%;
			padding: 20px 4% 20px 4%;
			box-shadow: 5px 5px 10px lighten($color: black, $amount: 80%);
			border-radius: 30px;
			font-size: 1.2em;
			background-color: lighten($color: black, $amount: 95%);
		}
		i {
			font-size: 1.3em;
			color: lighten($color: black, $amount: 40%);
		}
		p {
			display: inline;
			margin-left: 7%;
			width: 100%;
			font-weight: 500;
		}
		& .liste {
			background-color: $color-primary;
			color: white;
			padding: .4rem .7rem .4rem .7rem;
			border-radius: 100%;
			position: relative;
			left: -6%;
			margin-left: unset;
		}
	}
}

.entete {
	width: 100%;
	height: 30rem;
	display: flex;
	flex-direction: column;
	margin-bottom: -5rem;
	img {
		object-fit: cover;
		z-index: 1;
		height: 100%;
		width: 100%;
	}
}

.titre {
	font-family: $police-titre;
	z-index: 1;
	height: 100%;
	border-radius: 25px 25px 0 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 1rem;
	background-color: $color-background;
	width: 100%;
	@media (min-width: 799px) and (max-width:1024px) {
		width: 70%;
	}
	.coeur {
		width: 35px;
		height: 35px;
		padding: 20px;
		z-index: 1;
	}
	i {
		@include coeur;
	}
	h2 {
		margin-left: 2%;
		width: 87%
	}
}

#menugrand {
	height: 375px;
}

.menu {
	background-color: $color-background;
	padding: 2%;
	width: 96%;
	height: 300px;
	h5 {
		font-size: 1.1em;
		margin-bottom: 1%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	h4 {
		color: lighten(black, 15%);
		font-weight: 400;
		border-bottom: 3px solid $color-tertiary;
		width: 35px;
		font-size: 1.2em;
	}
	&__carte {
		display: flex;
		width: 98%;
		height: 75px;
		box-shadow: 5px 5px 10px lighten($color: black, $amount: 80%);
		border-radius: 23px;
		background-color: white;
		overflow: hidden;
		white-space: nowrap;
		opacity: 1;
		transform-origin: bottom;
		&--1 {
			animation: $apparition1;
		}
		&--2 {
			animation: $apparition2;
		}
		&--3 {
			animation: $apparition3;
		}
		&--4 {
			animation: $apparition4;
		}
		&:hover {
			cursor: pointer;
			box-shadow: $shadow;
		}
		&:hover .menu__anim {
			margin: 0;
			& i {
				transform: rotate(1turn);
			}
		}
	}
	&__anim {
		margin-right: -70px;
		width: 65px;
		background-color: $color-tertiary;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0 21px 21px 0;
		transition: all 1000ms ease-in-out;
		i {
			font-size: 1.5em;
			color: white;
			transform: rotate(180deg);
			transition: all 500ms 300ms ease-in-out;
		}
	}
	&__texte {
		flex: 1;
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		transition: all 500ms ease-in-out;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		p {
			font-size: .9em;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}
	&__prix {
		margin-bottom: 10px;
		margin-right: 10px;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		font-weight: 600;
		transition: all 1000ms;
		transition-timing-function: ease-in-out;
		p {
			margin-right: 10px;
		}
	}
}

.commander {
	display: flex;
	width: 100%;
	height: 75px;
	justify-content: center;
	padding-top: 50px;
	background-color: $color-background;
	.button {
		@include button;
	}
}