@import "./utils/variables";
@import "./base/polices";
@import "./layout/_footer";
@import "./layout/_header";
@import "./utils/mixins";
@import "./base/base";
@import "./utils/keyframes";
@import "./utils/extensions";
// Loading spinner
.container {
	@extend %largeur;
	height: map-get($hauteur, 1);
	position: map-get($positionnement, 1);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	@include flex-center;
	z-index: map-get($index, 2);
	background: lighten($color: $color-tertiary, $amount: 20%);
	animation: invisible 0s map-get($timing, 6) map-get($ajustement-anim, 1);
}

.load {
	@extend %largeur;
	height: map-get($hauteur, 4);
	position: map-get($positionnement, 2);
	font-family: $police-titre;
	@include flex-center;
	animation: loading-spinner map-get($timing, 1) map-get($accel, 1);
	&__lettre {
		@include flex-center;
		height: map-get($hauteur, 1);
		animation: lettres map-get($timing, 2) map-get($accel, 2) map-get($ajustement-anim, 1), degrade map-get($timing, 1) map-get($accel, 2) map-get($ajustement-anim, 2), invisible map-get($timing, 1) map-get($ajustement-anim, 4), loading-movement map-get($timing, 2) map-get($accel, 2) map-get($ajustement-anim, 2);
		opacity: 0;
		@for $i from 1 through $nblettre {
			&--#{$i} {
				animation-delay: $anim-delay * $i;
			}
		}
		@media (min-width: 799px) {
			animation: lettrespc map-get($timing, 2) map-get($accel, 2) map-get($ajustement-anim, 1), degrade map-get($timing, 1) map-get($accel, 2) map-get($ajustement-anim, 2), invisible map-get($timing, 1) map-get($ajustement-anim, 4), loading-movement map-get($timing, 2) map-get($accel, 2) map-get($ajustement-anim, 2);
			@for $i from 1 through $nblettre {
				&--#{$i} {
					animation-delay: $anim-delay * $i;
				}
			}
		}
	}
}
// Page responsive
.grid {
	grid-template-columns: 1fr;
	display: map-get($display, 1);
	@media (min-width: 799px) {
		grid-template-columns: 1fr 1fr;
	}
}

.gridpage {
	grid-template-columns: 1fr;
	display: map-get($display, 1);
	@extend %largeur;
	@media (min-width: 1024px) {
		grid-template-columns: 1fr 1fr 1fr;
		background-color: $color-background;
	}
	@media (min-width:799px) and (max-width:1024px) {
		background-color: $color-background;
		width: map-get($width, 1);
	}
}
//Index.html:Ville-->Paris,Belleville
.localisation {
	@include flex-center;
	font-size: map-get( $taille-police, h4);
	color: lighten(black, 25%);
	background-color: lighten($color: black, $amount: 90%);
	@extend %largeur;
	box-shadow: inset 0px 4px 5px -4px #404040;
	padding: map-get($padding, 1);
	& p {
		padding: map-get($padding, 2);
		font-weight: map-get($font-weight, 1);
	}
}
// Index.html: Carte Restaurants
.restaurant {
	background-color: $color-background;
	padding: map-get($padding, 3);
	&__nav {
		@extend %largeur;
		display: map-get($display, 1);
		grid-template-columns: 1fr;
		@extend %largeur;
		@media (min-width: 799px) {
			grid-template-columns: 1fr 1fr;
		}
	}
	&__article {
		display: map-get($display, 2);
		width: map-get($width, 2);
		position: map-get($positionnement, 3);
		margin: map-get($margin, 1);
		box-shadow: 5px 5px 10px $color-boxshadow;
		border-radius: map-get($border-radius, 1);
		height: map-get($hauteur, 7);
		transform: scale(1);
		transition: all map-get($timing, 4) map-get($accel, 2);
		&:hover {
			transform: scale(1.05);
		}
		&--new {
			position: map-get($positionnement, 2);
			top: 7%;
			right: 2%;
			color: darken($color: $color-tertiary, $amount: 30%);
			background-color: lighten($color: $color-tertiary, $amount: 5%);
			padding: map-get($padding, 4);
			border-radius: map-get($border-radius, 2);
			font-weight: map-get($font-weight, 2);
			font-size: map-get( $taille-police, p);
		}
	}
	&__img {
		@extend %largeur;
		height: map-get($hauteur, 2);
		& img {
			height: map-get($hauteur, 1);
			@extend %largeur;
			object-fit: cover;
			border-radius: map-get($border-radius, 3);
		}
	}
	&__texte {
		height: map-get($hauteur, 3);
		color: black;
		position: map-get($positionnement, 3);
		background-color: white;
		border-radius: map-get($border-radius, 4);
		@include flex-column-space;
		padding: map-get($padding, 5);
		p {
			font-size: map-get( $taille-police, p);
		}
		div {
			position: map-get($positionnement, 2);
			right: 6%;
			top: 30%;
			i {
				@include coeur;
			}
		}
	}
}
// Index.html: Présentation
.welcome {
	background-color: $color-background;
	@include flex-column-center;
	h2 {
		font-size: map-get( $taille-police, h2);
		width: map-get($width, 3);
		text-align: center;
		margin: map-get($margin, 2);
		;
	}
	P {
		width: map-get($width, 1);
		text-align: center;
		font-size: map-get( $taille-police, welcome);
		color: lighten($color: black, $amount: 20%);
		margin: map-get($margin, 3);
		font-weight: map-get($font-weight, 3);
	}
	&__button {
		@include button;
		width: map-get($width, 4);
		margin: map-get($margin, 4);
	}
}
// Index.html: Fonctionement
.fonctionnement {
	margin: map-get($margin, 5);
	ol {
		list-style: none;
		margin-block-start: unset;
		margin-block-start: unset;
		margin-block-end: unset;
		margin-inline-start: unset;
		margin-inline-end: unset;
		padding-inline-start: unset;
		@extend %largeur;
		// Animation etapes
		&:hover .ordre {
			cursor: pointer;
			animation: fonction-anim map-get($timing, 2) map-get($accel, 1) map-get($ajustement-anim, 3);
			@for $i from 1 through $nbli {
				&--#{$i} {
					animation-delay: $anim-delaybis * $i;
				}
			}
			& i {
				animation: fonction-i map-get($timing, 2) map-get($accel, 1) map-get($ajustement-anim, 3);
				@for $i from 1 through $nbli {
					&--#{$i} {
						animation-delay: $anim-delaybis * $i;
					}
				}
			}
		}
		& .ordre {
			width: map-get($width, 5);
			margin: map-get($margin, 6);
			padding: map-get($padding, 6);
			box-shadow: 5px 5px 10px $color-boxshadow;
			border-radius: map-get($border-radius, 5);
			font-size: map-get( $taille-police, h4);
			background-color: lighten($color: black, $amount: 95%);
		}
		i {
			font-size: map-get( $taille-police, welcome);
			color: lighten($color: black, $amount: 40%);
		}
		p {
			display: map-get($display, 3);
			margin: map-get($margin, 7);
			@extend %largeur;
			font-weight: map-get($font-weight, 1);
		}
		& .liste {
			background-color: $color-primary;
			color: white;
			padding: map-get($padding, 7);
			border-radius: map-get($border-radius, 6);
			position: map-get($positionnement, 3);
			left: -6%;
			margin-left: unset;
		}
	}
}
// Pages menu: Titres+ Images
.entete {
	@extend %largeur;
	height: map-get($hauteur, 10);
	@include flex-column-center;
	margin: map-get($margin, 8);
	img {
		object-fit: cover;
		z-index: map-get($index, 1);
		height: map-get($hauteur, 1);
		@extend %largeur;
	}
}

.titre {
	font-family: $police-titre;
	z-index: map-get($index, 1);
	height: map-get($hauteur, 1);
	border-radius: map-get($border-radius, 7);
	@include flex-row-center;
	padding: map-get($padding, 8);
	background-color: $color-background;
	@extend %largeur;
	@media (min-width: 799px) and (max-width:1024px) {
		width: map-get($width, 1);
	}
	// Icone like
	.coeur {
		width: map-get($width, 6);
		height: map-get($hauteur, 9);
		padding: map-get($padding, 9);
		z-index: map-get($index, 1);
	}
	i {
		@include coeur;
	}
	h2 {
		margin: map-get($margin, 9);
		width: map-get($width, 7);
	}
}
// Hauteur modifié pour les 4 entrées de la note enchantée
#menugrand {
	height: map-get($hauteur, 5);
}
// Pages menu: cartes repas
.menu {
	background-color: $color-background;
	padding: map-get($padding, 10);
	width: map-get($width, 8);
	height: map-get($hauteur, 6);
	h5 {
		font-size: map-get( $taille-police, h5);
		margin: map-get($margin, 10);
		@include overflow;
	}
	h4 {
		color: lighten(black, 15%);
		font-weight: map-get($font-weight, 4);
		border-bottom: 3px solid $color-tertiary;
		width: map-get($width, 6);
		font-size: map-get( $taille-police, h4);
	}
	&__carte {
		display: map-get($display, 2);
		width: map-get($width, 9);
		height: map-get($hauteur, 8);
		box-shadow: 5px 5px 10px $color-boxshadow;
		border-radius: map-get($border-radius, 8);
		background-color: white;
		@include overflow;
		white-space: nowrap;
		opacity: 1;
		transform-origin: bottom;
		// Animation d'arrivée menu
		&--1 {
			animation: map-get($apparition, 1);
		}
		&--2 {
			animation: map-get($apparition, 2);
		}
		&--3 {
			animation: map-get($apparition, 3);
		}
		&--4 {
			animation: map-get($apparition, 4);
		}
		&:hover {
			cursor: pointer;
		}
		&:hover .menu__anim {
			margin: map-get($margin, 12);
			& i {
				transform: rotate(1turn);
			}
		}
	}
	// Animation de validation
	&__anim {
		margin: map-get($margin, 11);
		width: map-get($width, 10);
		background-color: $color-tertiary;
		@include flex-center;
		border-radius: map-get($border-radius, 9);
		transition: all map-get($timing, 3) map-get($accel, 2);
		i {
			font-size: map-get( $taille-police, i);
			color: white;
			transform: rotate(180deg);
			transition: all map-get($timing, 4) map-get($timing, 5) map-get($accel, 2);
		}
	}
	&__texte {
		flex: 1;
		margin: map-get($margin, 13);
		@include flex-column-space;
		transition: all map-get($timing, 3) map-get($accel, 2);
		@include overflow;
		p {
			font-size: map-get( $taille-police, def);
			text-overflow: ellipsis;
			@include overflow;
			white-space: nowrap;
		}
	}
	&__prix {
		margin: map-get($margin, 14);
		@include flex-end;
		font-weight: map-get($font-weight, 2);
		transition: all map-get($timing, 2);
		transition-timing-function: map-get($accel, 2);
		p {
			margin: map-get($margin, 15);
		}
	}
}
// Pages menu: Bouton commander
.commander {
	@include flex-center;
	@extend %largeur;
	height: map-get($hauteur, 8);
	padding: map-get($padding, 11);
	background-color: $color-background;
	.button {
		@include button;
	}
}