@import "../utils/mixins" ;

.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
        &__titre {
            font-family: $police-titre;
            margin-bottom: 10px;
        }
        a {
            width: unset;
            position: relative;
    left: -40%;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
      
           
            
        }

}